In [1]:
          #    QUESTION NO:- 2  USING "FOR LOOP"

In [10]:
n=10
sum=0
product=1
for i in range(1,n+1):
    sum=sum+i
    product=product*i
print("The sum is: ",sum)
print("The product is: ",product)

The sum is:  55
The product is:  3628800

In [ ]:
       #    QUESTION NO:- 2  USING "WHILE LOOP"

In [2]:
n=10
sum=0
product=1
while(n>0):
    sum=sum+n
    product=product*n
    n=n-1
print("The sum is: ",sum)
print("The product is: ",product)

The sum is:  55
The product is:  3628800

In [ ]:
       #    QUESTION NO:- 3

In [1]:
n=int(input("Enter the units of electricity in a month: "))
if(n>=0 and n<=100):
      charge=n*4.5
elif(n>100 and n<=200):
      rest_unit=n-100
      charge=100*4.5+rest_unit*6
elif(n>200 and n<=300):
      rest_unit=n-200
      charge=(100*4.5)+(100*6)+(rest_unit*10)
else:
      rest_unit=n-300
      charge=(100*4.5)+(100*6)+(100*10)+(rest_unit*20)
print("Total charge is: ",charge)

Enter the units of electricity in a month:  500

Total charge is:  6050.0

In [3]:
            #    QUESTION NO:- 4  USING "FOR LOOP"

In [5]:
l1=[]
l2=[]
for i in range(1,101):
    l1.append(i)
for i in l1:
    cube=i*i*i
    if(cube%4==0 or cube%5==0):
        l2.append(cube)
l2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [6]:
                #  QUESTION NO:- 4  USING "WHILE LOOP"

In [1]:
n=1
l1=[]
l2=[]
while(n<=100):
    l1.append(n)
    n=n+1
for i in l1:
    cube=i*i*i
    if(cube%4==0 or cube%5==0):
        l2.append(cube)
l2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [2]:
            # QUESTION NO:- 5

In [15]:
count=0
s="I want to become a data scientist"
s=s.lower()
for i in s:
    if(i=='a' or i=='e' or  i=='i' or i=='o' or i=='u'):
        count=count+1
count

12